<a href="https://colab.research.google.com/github/actualIslam/test-task1/blob/main/Task_(1)_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dataset Description

\

## The dataset contains information about road traffic accidents with the following columns:

`Time`: Time of the accident

`Day_of_week`: Day of the week when the accident occurred

`Age_band_of_driver`: Age group of the driver

`Sex_of_driver`: Gender of the driver

`Educational_level`: Educational level of the driver

`Vehicle_driver_relation`: Relationship of the driver to the vehicle

`Driving_experience`: Driving experience of the driver

`Type_of_vehicle`: Type of vehicle involved in the accident

`Owner_of_vehicle`: Owner of the vehicle

`Service_year_of_vehicle`: Service years of the vehicle

`Area_accident_occured`: Area where the accident occurred

`Lanes_or_Medians`: Lanes or medians at the accident site

`Road_allignment`: Road alignment at the accident site

`Types_of_Junction`: Type of junction at the accident site

`Road_surface_type`: Type of road surface at the accident site

`Road_surface_conditions`: Road surface conditions at the accident site

`Light_conditions`: Light conditions at the time of the accident

`Weather_conditions`: Weather conditions at the time of the accident

`Type_of_collision`: Type of collision

`Number_of_vehicles_involved`: Number of vehicles involved in the accident

`Number_of_casualties`: Number of casualties in the accident

`Vehicle_movement`: Movement of the vehicle during the accident

`Casualty_class`: Class of casualty (driver, passenger, pedestrian)

`Sex_of_casualty`: Gender of the casualty

`Age_band_of_casualty`: Age group of the casualty

`Casualty_severity`: Severity of the casualty

`Work_of_casuality`: Occupation of the casualty

`Fitness_of_casuality`: Fitness of the casualty

`Pedestrian_movement`: Movement of the pedestrian

`Cause_of_accident`: Cause of the accident

`Accident_severity`: Severity of the accident

# Tasks

## Import Statements

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##1. Data Cleaning

### Read the dataset

In [ ]:
df = pd.read_csv("Task (1) Dataset.csv")

In [ ]:
df.head()

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,...,Vehicle_movement,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity
0,17:02:00,Monday,18-30,Male,Above high school,Employee,1-2yr,Automobile,Owner,Above 10yr,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Moving Backward,Slight Injury
1,17:02:00,Monday,31-50,Male,Junior high school,Employee,Above 10yr,Public (> 45 seats),Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury
2,17:02:00,Monday,18-30,Male,Junior high school,Employee,1-2yr,Lorry (41?100Q),Owner,NaN,...,Going straight,Driver or rider,Male,31-50,3,Driver,NaN,Not a Pedestrian,Changing lane to the left,Serious Injury
3,1:06:00,Sunday,18-30,Male,Junior high school,Employee,5-10yr,Public (> 45 seats),Governmental,NaN,...,Going straight,Pedestrian,Female,18-30,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury
4,1:06:00,Sunday,18-30,Male,Junior high school,Employee,2-5yr,NaN,Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12316 entries, 0 to 12315
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Time                         12316 non-null  object
 1   Day_of_week                  12316 non-null  object
 2   Age_band_of_driver           12316 non-null  object
 3   Sex_of_driver                12316 non-null  object
 4   Educational_level            11575 non-null  object
 5   Vehicle_driver_relation      11737 non-null  object
 6   Driving_experience           11487 non-null  object
 7   Type_of_vehicle              11366 non-null  object
 8   Owner_of_vehicle             11834 non-null  object
 9   Service_year_of_vehicle      8388 non-null   object
 10  Defect_of_vehicle            7889 non-null   object
 11  Area_accident_occured        12077 non-null  object
 12  Lanes_or_Medians             11931 non-null  object
 13  Road_allignment              12174 non-null  object
 14  Types_of_Junction            11429 non-null  object
 15  Road_surface_type            12144 non-null  object
 16  Road_surface_conditions      12316 non-null  object
 17  Light_conditions             12316 non-null  object
 18  Weather_conditions           12316 non-null  object
 19  Type_of_collision            12161 non-null  object
 20  Number_of_vehicles_involved  12316 non-null  int64
 21  Number_of_casualties         12316 non-null  int64
 22  Vehicle_movement             12008 non-null  object
 23  Casualty_class               12316 non-null  object
 24  Sex_of_casualty              12316 non-null  object
 25  Age_band_of_casualty         12316 non-null  object
 26  Casualty_severity            12316 non-null  object
 27  Work_of_casuality            9118 non-null   object
 28  Fitness_of_casuality         9681 non-null   object
 29  Pedestrian_movement          12316 non-null  object
 30  Cause_of_accident            12316 non-null  object
 31  Accident_severity            12316 non-null  object
dtypes: int64(2), object(30)
memory usage: 3.0+ MB

### Handle Missing Values

In [ ]:
df.isna().sum()

Time                               0
Day_of_week                        0
Age_band_of_driver                 0
Sex_of_driver                      0
Educational_level              12316
Vehicle_driver_relation            0
Driving_experience                 0
Type_of_vehicle                    0
Owner_of_vehicle                   0
Service_year_of_vehicle            0
Defect_of_vehicle                  0
Area_accident_occured              0
Lanes_or_Medians                   0
Road_allignment                    0
Types_of_Junction                  0
Road_surface_type                  0
Road_surface_conditions            0
Light_conditions                   0
Weather_conditions                 0
Type_of_collision                  0
Number_of_vehicles_involved        0
Number_of_casualties               0
Vehicle_movement                   0
Casualty_class                     0
Sex_of_casualty                    0
Age_band_of_casualty               0
Casualty_severity                  0
Work_of_casuality                  0
Fitness_of_casuality               0
Pedestrian_movement                0
Cause_of_accident                  0
Accident_severity                  0
dtype: int64

In [ ]:
df["Educational_level"].fillna(df['Educational_level'].mode(), inplace=True)

In [ ]:
df["Vehicle_driver_relation"].fillna(method='ffill', inplace=True)

In [ ]:
df['Driving_experience'].fillna(method='ffill', inplace=True)

In [ ]:
df['Type_of_vehicle'].fillna(method='bfill', inplace=True)

In [ ]:
df['Owner_of_vehicle'].fillna(method='ffill', inplace=True)

In [ ]:
df['Service_year_of_vehicle'].fillna(method='ffill', inplace=True)

In [ ]:
df['Defect_of_vehicle'].fillna(method='bfill', inplace=True)

In [ ]:
df['Area_accident_occured'].fillna(method='ffill', inplace=True)

In [ ]:
df['Lanes_or_Medians'].fillna(method='ffill', inplace=True)
df['Lanes_or_Medians'].fillna('other', inplace=True)

In [ ]:

df['Road_allignment'].fillna(method='ffill', inplace=True)

In [ ]:

df['Types_of_Junction'].fillna(method='bfill', inplace=True)

In [ ]:

df['Road_surface_type'].fillna(method='bfill', inplace=True)

In [ ]:
df['Type_of_collision'].fillna(method='ffill', inplace=True)

In [ ]:
df['Vehicle_movement'].fillna(method='ffill', inplace=True)

In [ ]:
df['Work_of_casuality'].fillna(method='ffill', inplace=True)
df['Work_of_casuality'].fillna('Driver', inplace=True)

In [ ]:
df['Fitness_of_casuality'].fillna(method='bfill', inplace=True)

In [ ]:
df.duplicated().sum()

0

### Correct any inconsistent data entries.

In [ ]:
# NO inconsistent data

### Ensure data types are appropriate for each column.

---

In [ ]:
df.info()
# Each data type is appropriat

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12316 entries, 0 to 12315
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Time                         12316 non-null  object
 1   Day_of_week                  12316 non-null  object
 2   Age_band_of_driver           12316 non-null  object
 3   Sex_of_driver                12316 non-null  object
 4   Educational_level            12316 non-null  object
 5   Vehicle_driver_relation      12316 non-null  object
 6   Driving_experience           12316 non-null  object
 7   Type_of_vehicle              12316 non-null  object
 8   Owner_of_vehicle             12316 non-null  object
 9   Service_year_of_vehicle      12316 non-null  object
 10  Defect_of_vehicle            12316 non-null  object
 11  Area_accident_occured        12316 non-null  object
 12  Lanes_or_Medians             12316 non-null  object
 13  Road_allignment              12316 non-null  object
 14  Types_of_Junction            12316 non-null  object
 15  Road_surface_type            12316 non-null  object
 16  Road_surface_conditions      12316 non-null  object
 17  Light_conditions             12316 non-null  object
 18  Weather_conditions           12316 non-null  object
 19  Type_of_collision            12316 non-null  object
 20  Number_of_vehicles_involved  12316 non-null  int64
 21  Number_of_casualties         12316 non-null  int64
 22  Vehicle_movement             12316 non-null  object
 23  Casualty_class               12316 non-null  object
 24  Sex_of_casualty              12316 non-null  object
 25  Age_band_of_casualty         12316 non-null  object
 26  Casualty_severity            12316 non-null  object
 27  Work_of_casuality            12316 non-null  object
 28  Fitness_of_casuality         12316 non-null  object
 29  Pedestrian_movement          12316 non-null  object
 30  Cause_of_accident            12316 non-null  object
 31  Accident_severity            12316 non-null  object
dtypes: int64(2), object(30)
memory usage: 3.0+ MB

## 2. Exploratory Data Analysis (EDA)

### Perform summary statistics on the dataset.

In [ ]:
df.describe()

       Number_of_vehicles_involved  Number_of_casualties
count                 12316.000000          12316.000000
mean                      2.040679              1.548149
std                       0.688790              1.007179
min                       1.000000              1.000000
25%                       2.000000              1.000000
50%                       2.000000              1.000000
75%                       2.000000              2.000000
max                       7.000000              8.000000

### Identify and analyze patterns in the data.

In [ ]:
sort_by_day = df['Day_of_week'].value_counts()
sort_by_day

Day_of_week
Friday       2041
Thursday     1851
Wednesday    1840
Tuesday      1770
Monday       1681
Saturday     1666
Sunday       1467
Name: count, dtype: int64

### Visualize the distribution of key variables (e.g., Age_band_of_driver, Type_of_vehicle).

In [219]:
plt.figure(figsize=(10, 6))
sns.boxplot(df['Age_band_of_driver'])
plt.title('Distribution of Age_band_of_driver')
plt.show()

TypeError: 'Figure' object is not callable

In [220]:
plt.figure(figsize=(10, 6))
sns.histplot(df['Type_of_vehicle'], kde=True)
plt.title('Distribution of Type_of_vehicle')
plt.xticks(rotation=90)
plt.show()

TypeError: 'Figure' object is not callable

In [ ]:
plt.figure(figsize=(10, 6))
sns.violinplot(df['Educational_level'], cmap='coolwarm')
plt.title('Distribution of Educational_level')
plt.show()

TypeError: 'Figure' object is not callable

### Explore relationships between variables (e.g., Age_band_of_driver vs. Accident_severity).

In [ ]:
plt.figure(figsize=(10, 6))
sns.scatterplot(df['Age_band_of_driver'], df['Accident_severity'])
plt.title('Age_band_of_driver vs. Accident_severity')
plt.show()

TypeError: 'Figure' object is not callable

## 3. Data Visualization

* Ensure the visualizations are clear and informative.

### Create visualizations to illustrate the findings from the EDA.

In [ ]:
plt.figure(figsize=(10, 6))
plt.pie(sort_by_day.values, labels=sort_by_day.index, autopct='%1.1f%%', radius=1.5)
plt.show()

TypeError: 'Figure' object is not callable

### Use appropriate plots such as histograms, bar charts, pie charts, scatter plots, and heatmaps.

In [ ]:
corr = df.corr()

sns.heatmap(df.corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()

ValueError: could not convert string to float: '17:02:00'

## 4. Insights and Conclusions

* <h3>Summarize the key insights gained from the data analysis.<h3/>
* <h3>Draw conclusions based on the patterns observed in the data.<h3/>